@import '../../../Styles/styleVariables.sass'

.sideBarExpanded
    min-width: $sideBarExpandedWidth
    max-width: $sideBarExpandedWidth
    background: $secondary
    transition: all 0.3s
    font-family: $fontFamily
    color: $textColor
    margin-left: - $sideBarExpandedWidth - $sideBarCollapsedWidth
    position: absolute
    height: 100%

.sideBarExpanded.active
    margin-left: $sideBarCollapsedWidth
    transition: all 0.3s

.headerBar
    background-color: $headerColor


.svgButton
    outline-color: transparent !important
    border-color: transparent !important

.svgButton:hover
    background-color: transparent !important

.svgButton *
    // vertical-align: none !important
    width: 1.2rem !important
    height: 1.2rem !important
