@import '../../Variables/globalVariables.sass' 

.builderCanvas
  position: relative
  height: $canvasHeight 
  width: $canvasWidth
  transform: translate($sideBarCollapsedWidth, $navBarHeight)
  border: solid 5px $canvasColor
  background-color: $canvasColor

.interactableItem
  transform: translate(calc($sideBarCollapsedWidth + $sideBarExpandedWidth), 0)