
@import './styleVariables.sass'

//Button Color
// :root 
//     --bs-btn-color: red

@import "~bootstrap/scss/bootstrap"
@font-face
    font-family: "BebasNeueProBold"
    src: local("BebasNeueProBold"), url("../Fonts/BebasNeueProBold.ttf") format("truetype")

@font-face
    font-family: "BebasNeueProRegular"
    src: local("BebasNeueProRegular"), url("../Fonts/BebasNeueProRegular.ttf") format("truetype")

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap')

.btn-transparent
    color: $textColor
    background: transparent

.btn-transparent:hover
    color: $textColorHover

.btn-light
    color: $textColor
    background: $primary

.btn-light:hover
    color: $textColorHover
    background: $headerColor

.btn *
    pointer-events: none

.btn-dark
    color: $primary

.btn-dark:hover
    color: $textColorHover
    background: $textColor


.btn-dark *
    pointer-events: none

.navbar-primary
    background: $primary

.navbar-transparent
    // transition: all 4s
    // background: transparent
    background-image: linear-gradient(to bottom, $primary, rgba(255, 248, 233,0 ))

.navbar-transparent .nav-link:hover

@media (max-width: 576px) 
  .navbar-transparent
    background-color: $primary
    // color: $headerColor
// .navbar-toggler-default
//     outline: none
//     border: none

// .navbar-toggler-default 
//     outline: none
//     border: none
// body.modal-open
//     overflow-y: scroll !important
// :root 
//     --bs-btn-color: red
