@import '../../globalVariables.sass'

#sidebarCollapsed
    min-width: $sideBarCollapsedWidth
    max-width: $sideBarCollapsedWidth
    background: $primary
    transition: all 0.3s
    height: 100vh
    margin-left: -$sideBarCollapsedWidth
    position: fixed


#sidebarCollapsed.active
    margin-left: 0px

.svgButton
    border-radius: 30% 0% 0% 30%
    border: 0px
    // display: flex
    // justify-content: center
    background-color: $primary
    padding: 5%


.svgButton:hover
    svg
        color: $textColorHover
        transition: all 0.3s


.svgButton:active
    background-color: $secondary
    transition: all 0.3s

.svgButton.active
    background-color: $secondary
    transition: all 0.3s
// .btn
//     background-color: red
// .svgButton svg
//     border-radius: 30% 0% 0% 30%
