
@import '../../../globalVariables.sass'
.svgButton:hover
    background: $primary

.svgButton
    // display: flex
    // justify-content: center
    padding: 0px
    align-items: center

.container
    margin: 10px

.container path, ellipse
    stroke: $textColor

.container div
    // display: flex
    // justify-content: center
    color: $textColor

.title
    justify-content: center
    display: flex

    
.btnGroup
    background-color: $headerColor
    color: $textColor
    width: 100%

.btn
    color: $textColor

.btn:hover
    color: $textColorHover

.btn:focus
    background-color: $secondary