@import ../Variables/globalVariables
@import ../../style.scss
.navBar
    background-color: $primary
    font-family: $fontFamily
    width: 100vw

.btn
    color:  rgba(0,0,0,0.55) !important
    border: 0px !important

.btn:hover
    color: $textColor !important

.btn:active
    color: rgba(0,0,0,0.3) !important