$primary: rgb(255 248 233)
$secondary: rgb(247 229 191)
$textColor: rgba(0, 0, 0, 0.55)
$textColorHover: rgba(0, 0, 0, 0.7)
$fontFamily: "BNRegular"
//NavBar Variables
$navBarHeight: 75px

//SideBar Variables  
$sideBarExpandedWidth: 200px
$sideBarCollapsedWidth: 50px