$primary: rgb(255, 248, 233)
$secondary: rgb(251, 240, 217)
$headerColor: rgb(255, 230, 186)
$textColor: rgba(0, 0, 0, 0.55)
$textColorHover: rgba(0, 0, 0, 0.7)
$fontFamily: "BNRegular"

//NavBar Variables (The height of the navbar will not change, need to change it manually and match this variable later)
$navBarHeight: 75px

//SideBar Variables  
$sideBarExpandedWidth: 200px
$sideBarCollapsedWidth: 50px
$sideBarZIndex: 1030

//Builder Canvas Variables
$canvasHeight: calc(1080px*0.5)
$canvasWidth: calc(1920px*0.5)
$canvasColor: rgb(248, 240, 221)

//Body Color (This do not change the body color, need to change it manually and match this variable later)
$bodyColor: rgb(255, 249, 236)

// $CanvasHeight: 1080px
// $CanvasWidth: 1920px
    
// $primary: rgb(255 248 233)
// $secondary: rgb(247 229 191)