@import '../../../../style.sass'
.interactableItem
    position: absolute
    border:  solid 3px rgba(0, 0, 0, 0)
    border-radius: 10px
    z-index: 0
    margin: 0px
    touch-action: none
    // background-color: $canvasColor

// .interactableItem:hover
//     color: $textColor

.interactableItem:hover
    border-color: $textColor
    // transition: all .3s
    background-color: rgb(241, 232, 211, 0.5)

.interactableItem path,ellipse
    fill: $primary
    stroke: $textColor