/* .resize_drag {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  position: absolute;
  touch-action: none; */

  /* This makes things *much* easier */
  /* box-sizing: border-box;
}

.resize_drag:focus{
  outline: 5px solid red;
}

.resize_drag:active{
  outline: 5px solid red;
}

.container{
  position: relative;
  top: 20%;
  left: 20%;
  width: 1000px;
  height: 1000px;
  border: 2px solid red;
} */